{
    "extends": [
        "@open-wc/eslint-config",
        "eslint-config-prettier"
    ],
    "overrides": [
        {
            "files": [
                "test/**/*.js"
            ],
            "rules": {
                "no-console": "off",
                "no-unused-expressions": "off",
                "no-plusplus": "off",
                "no-param-reassing": "off",
                "class-methods-use-this": "off",
                "import/no-extraneous-dependencies": "off"
            }
        }
    ]
}